@model Web.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login" method="post">
    <div class="govuk-form-group @(ViewData.ModelState.Count > 0 ? "govuk-form-group--error" : "")">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                What is your unique voter token?
            </h1>
        </legend>
        <div class="govuk-hint">
            For example, ABCDEF-GHIJKL.
        </div>

        @foreach (var error in ViewData.ModelState.Values)
        {
            @foreach (var error2 in error.Errors)
            {
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> @error2.ErrorMessage
                </p>
            }
        }

        <input class="govuk-input govuk-!-width-two-thirds @(ViewData.ModelState.Count > 0 ? "govuk-input--error" : "")" asp-for="Token" spellcheck="false" autocomplete="false">
    </div>

    <button class="govuk-button" data-module="govuk-button">
        Continue
    </button>
</form>

<h2 class="govuk-heading-m">Getting help</h2>

<p class="govuk-body">
    You can find your Unique Voter Token on the letter sent to you for this election.
</p>